body {
    background-color: #E74C33;
    /* The image used */
    /*background-image: url("../images/background.jpg");*/

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}

.logo {
    height: 240px;
    width: 240px;
}

.fish {
    height: 100px;
    width: 100px;
}
