<template>

    <div class="card answer" @click="clicked">
        <div class="card-body d-flex justify-content-center">
            <h2>{{ value}}</h2>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Answer",
        props: {
            value: {
                type: Number
            },
            correct: {
                type: Boolean
            }
        },
        methods: {
            clicked() {
                this.$emit('clicked', this.value)
            }
        },
        data() {
            return {
                isCorrect: Boolean
            }
        }
    }
</script>

<style scoped>
    .card-body {
        padding: 66px 20px;
    }

    .answer:hover {
        color: #ff7a59;
        border: #ff7a59 solid 1px;
        background: #fff;
        cursor: pointer;
    }

    .answer:active {
        color: #cb3c16;
        border: #cb3c16 solid 1px;
        background: #fff;
        cursor: pointer;
    }
</style>
