<template>
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <!--           <div class="d-flex">-->
                <div class="mt-5 d-flex align-items-center flex-wrap">
                    <div class="ml-lg-5">
                        <div class="ml-lg-5">
                            <img src="@/assets/images/logo.jpg" alt="Naciotech" class="rounded-circle logo">
                        </div>
                    </div>
                    <!--            <div>-->
                    <!--                <img src="@/assets/images/fish.jpg" alt="" width="100" height="100" class="rounded-circle">-->
                    <!--            </div>-->
                    <div class="d-flex justify-content-center flex-grow-1">
                        <div class="card border-yellow">
                            <div class="card-body text-center">
                                <div class="px-5">
                                    <h3 class="course-label px-5">Math</h3>
                                </div>
                            </div>
                        </div>
                    </div>

<!--                    <div class="">-->
<!--                        <img src="@/assets/images/fish.jpg" alt="Naciotech" class="rounded-circle fish">-->
<!--                    </div>-->
                </div>
                <!--            <div class="text-center mt-5">-->
                <!--                <h1 class="text-uppercase company-name">NACIOTECH</h1>-->
                <!--            </div>-->

                <!--           </div>-->
            </div>
        </div>


        <div class="d-lg-flex d-md-flex mt-3">

            <div class="mb-sm-4 mr-lg-3 mr-md-3">
                <div class="card border-blue">
                    <div class="card-body">
                        <div class="d-flex flex-column justify-content-between h-100">
                            <!--                    <div class="col-lg-4">-->
                            <button class="btn btn-info mb-sm-3" @click="randomOperator">Random Operator</button>
                            <button class="btn btn-info mb-sm-3" @click="changeFirstNumber">Change First Number</button>
                            <button class="btn btn-info mb-sm-3" @click="changeSecondNumber">Change Second Number
                            </button>
                            <div>
                                <label>Change Operator</label>
                                <select class="form-control" v-model="currentOperatorSign">
                                    <option :value="operator" v-for="(operator, index) in operatorsSequence"
                                            :key="index">{{
                                        operator}}
                                    </option>
                                </select>
                            </div>
                            <!--                    </div>-->
                        </div>
                    </div>
                </div>

                <div class="card mt-4 border-blue">
                    <div class="card-body">
                        <div>
                            <h3>How do you feel today?</h3>
                        </div>
                        <div class=" d-flex flex-column justify-content-center align-items-center">
                            <a href="#!" @click.prevent="setHappyPlay">
                                <img src="@/assets/images/happy.jpg" alt="Happy" height="80" width="80" class="mt-3">
                            </a>
                            <a href="#!" @click.prevent="setSadPlay">
                                <img src="@/assets/images/sad.jpg" alt="Sad" height="80" width="80" class="mt-3">
                            </a>

                            <a href="#!" @click.prevent="setSoSoPlay">
                                <img src="@/assets/images/confused.jpg" alt="Confused" height="80" width="80"
                                     class="mt-3">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-1 flex-grow-1 mr-3">
                <div class="h-100">

                    <div class="header mb-3 mt-sm-3 mt-xs-3">
                        <div class="d-flex justify-content-between stats">
                            <div class="card">
                                <div class="card-body">
                                    <div class="stat">
                                        <h4 class="font-weight-bolder text-warning">Score: {{ score}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="stat">
                                        <h4 class="font-weight-bolder text-warning">Best Score: {{ bestScore}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="game">
                        <div class="row mb-3 ">
                            <div class="col-lg-12">
                                <!--                                <question :value="question"></question>-->
                                <div class="card question border-yellow">
                                    <!--        <img class="card-img-top"  alt="Card image cap">-->
                                    <div class="card-body text-center d-flex align-items-center justify-content-center">
                                        <h2><span>{{ firstNumber }}</span>

                                            <img src="@/assets/images/addition.png" height="30"
                                                 v-if="currentOperatorSign == '+'" width="30" class="mx-1">
                                            <img src="@/assets/images/subtraction.png" height="30"
                                                 v-if="currentOperatorSign == '-'" width="30" class="mx-1">
                                            <img src="@/assets/images/division.jpg" height="30"
                                                 v-if="currentOperatorSign == '/'" width="30" class="mx-1">
                                            <img src="@/assets/images/multiplication.png" height="30"
                                                 v-if="currentOperatorSign == '*'" width="30" class="mx-1">


                                            <!--                                            <img :src="op.image" height="30" v-if="currentOperatorSign == op.sign" width="30" class="mx-1" v-for="(op, index) in operators" :key="index">-->

                                            <span>{{ secondNumber }}</span>

                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-lg-12">
                                <h3 class="text-warning text-center">Select the answer:</h3>
                            </div>
                            <div class="col-lg-6 col-sm-6 mb-3" v-for="(answer, index) in answers"
                                 :key="`answer-${index}`">
                                <answer :value="answer.value" @clicked="answerClicked"></answer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="card border-blue">
                    <div class="card-body">
                        <h5>Your Courses:</h5>

                        <ul class="list-group">
                            <li class="list-group-item">Math</li>
                            <li class="list-group-item">Science</li>
                            <li class="list-group-item">Health Science</li>
                            <li class="list-group-item">Philosophy</li>
                            <li class="list-group-item">History</li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>

        <div class="d-flex justify-content-center">
            <div class="card border-yellow" v-if="hasError">
                <div class="card-body">
                    <div class="d-flex">
                        <img src="@/assets/images/bulb.jpg" alt="" width="30" height="30">
                        <h3 v-if="currentOperator">Review {{ currentOperator.name }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // import Question from "./Question";
    import Answer from "./Answer";

    export default {
        name: "GamePlay",
        components: {Answer},
        props: {
            first: {
                type: Number
            },
            second: {
                type: Number
            },
            operator: {
                type: String,
                default: '+'
            }
        },
        data() {
            return {
                firstNumber: 0,
                secondNumber: 0,
                sign: null,
                answers: [],
                correctAnswer: Number,
                incorrectAnswers: [],
                minNumber: 1,
                maxNumber: 13,
                maxIncorrectAnswers: 3,
                currentOperatorSign: "+",
                currentOperator: null,
                defaultOperators: ["+", "-", "*", "/"],
                operatorsSequence: ["+", "-", "*", "/"],
                currentOperatorLevel: 0,
                correctAnswersCount: 0,
                incorrectAnswersCount: 0,
                score: 0,
                currentStreak: 0,
                lastStreak: 0,
                hasError: false,
                operators: [
                    {
                        sign: "+",
                        name: "Addition",
                        image: "@/assets/images/addition.png",
                        method: function (a, b) {
                            return a + b;
                        }
                    },
                    {
                        sign: "-",
                        name: "Subtraction",
                        image: "@/assets/images/subtraction.png",
                        method: function (a, b) {
                            return a - b;
                        }
                    },
                    {
                        sign: "/",
                        name: "Division",
                        image: "@/assets/images/division.jpg",
                        method: function (a, b) {
                            return a / b;
                        }
                    },
                    {
                        sign: "*",
                        image: "@/assets/images/multiplication.png",
                        name: "Multiplication",
                        method: function (a, b) {
                            return a * b
                        }
                    }]
            }
        },
        methods: {

            generateRandomOperators() {
                this.firstNumber = this.generateRandInteger(this.minNumber, this.maxNumber);
                this.secondNumber = this.generateRandInteger(this.minNumber, this.maxNumber);

                // console.log("Question, numbers are", this.firstNumber, this.secondNumber)
            },


            generateAnswers() {
                this.correctAnswer = this.calculateResult(this.firstNumber, this.secondNumber, this.currentOperatorSign)

                let incorrectAnswers = this.generateIncorrectAnswers(this.correctAnswer, 3);

                this.incorrectAnswers = incorrectAnswers;
                let answers = incorrectAnswers;

                answers.push({
                    value: this.correctAnswer,
                    isCorrect: true
                })

                answers = this.shuffle(answers)

                this.answers = answers;
            },

            generateIncorrectAnswers(correctAnswer, amount) {

                let answers = []

                for (; answers.length < amount;) {

                    let number = this.generateIncorrectNumber(correctAnswer)

                    while (answers.includes(number)) {
                        number = this.generateIncorrectNumber(correctAnswer);
                    }

                    answers.push({
                        value: number,
                        isCorrect: false
                    })
                }

                return answers;
            },

            generateRandInteger(min, max) {
                return Math.floor(Math.random() * (max - min) + min)
            },

            generateIncorrectNumber(correctAnswer) {

                let randomNumber = this.generateRandInteger(this.minNumber, this.maxNumber);

                while (correctAnswer === randomNumber) {
                    randomNumber = this.generateRandInteger(this.minNumber, this.maxNumber);
                }

                return randomNumber;
            },

            cycleOperator() {

                let newOperatorLevel = this.currentOperatorLevel + 1;

                if (newOperatorLevel >= this.operatorsSequence.length) {
                    newOperatorLevel = 0
                }

                console.log("New operator level is ", newOperatorLevel)

                let newOperatorSign = this.operatorsSequence[newOperatorLevel];

                console.log("New operator is", newOperatorSign)

                if (newOperatorSign) {
                    this.currentOperatorSign = newOperatorSign
                    this.currentOperatorLevel = newOperatorLevel;
                }

            },

            calculateResult(a, b, sign) {

                let correctAnswer = 0;

                let selectedOperator = this.operators.find(element => element.sign === sign)

                if (selectedOperator) {
                    // console.log("numbers are", this.firstNumber, this.secondNumber)
                    correctAnswer = selectedOperator.method(this.firstNumber, this.secondNumber)
                    // console.log("selected operator name is", selectedOperator.name)
                }

                console.log("correct answer is ", correctAnswer)
                // // console.log(operators[selectedOperator].name)
                return correctAnswer;
            },

            shuffle(array) {
                let currentIndex = array.length, temporaryValue, randomIndex;

                // While there remain elements to shuffle...
                while (0 !== currentIndex) {

                    // Pick a remaining element...
                    randomIndex = Math.floor(Math.random() * currentIndex);
                    currentIndex -= 1;

                    // And swap it with the current element.
                    temporaryValue = array[currentIndex];
                    array[currentIndex] = array[randomIndex];
                    array[randomIndex] = temporaryValue;
                }

                return array;
            },


            generateQuestionAndAnswers() {
                this.generateRandomOperators();
                this.generateAnswers();
            },

            answerClicked(value) {
                console.log("value clicked is ", value)

                let selectedAnswer = this.answers.find(answer => answer.value === value)

                if (!selectedAnswer || !selectedAnswer.isCorrect) {
                    this.increaseIncorrectAnswersAmount(1);
                    this.currentStreak = 0;
                    this.generateQuestionAndAnswers();
                    this.hasError = true;
                    return;
                }

                this.hasError = false;
                this.cycleOperator()
                this.generateQuestionAndAnswers();
                this.increaseScore(1);
                this.increaseCurrentStreak(1);

                if (this.currentStreak >= this.lastStreak) {
                    this.lastStreak = this.currentStreak;
                }

                this.increaseCorrectAnswersAmount(1);
                this.increaseBestScore(1)
            },

            increaseScore(amount) {
                this.score += amount
            },

            increaseCorrectAnswersAmount(amount) {
                this.correctAnswersCount += amount
            },

            increaseIncorrectAnswersAmount(amount) {
                this.incorrectAnswersCount += amount
            },

            increaseBestScore(amount) {
                this.bestScore += amount
            },

            increaseCurrentStreak(amount) {
                this.currentStreak += amount
            },

            resetCurrentStreak() {
                this.currentStreak = 0
            },

            changeFirstNumber() {
                this.firstNumber = this.generateRandInteger(this.minNumber, this.maxNumber);

            },

            changeSecondNumber() {
                this.secondNumber = this.generateRandInteger(this.minNumber, this.maxNumber);
            },


            randomOperands() {
                this.changeFirstNumber();
                this.changeSecondNumber();
            },

            randomOperator() {
                let index = this.generateRandInteger(this.operatorsSequence.length, 0);
                console.log("Index is", index)
                this.currentOperatorSign = this.operatorsSequence[index];
            },

            setHappyPlay() {
                this.operatorsSequence = this.defaultOperators.slice(2)
                this.currentOperatorLevel = 0;
                this.currentOperatorSign = this.operatorsSequence[this.currentOperatorLevel];
                this.randomOperands();
            },

            setSadPlay() {
                this.operatorsSequence = this.defaultOperators.slice(0)
                this.currentOperatorLevel = 0;
                this.currentOperatorSign = this.operatorsSequence[this.currentOperatorLevel];
                // this.randomOperator();
                this.randomOperands()
            },

            setSoSoPlay() {
                this.operatorsSequence = this.defaultOperators.slice(1)
                this.currentOperatorLevel = 0;
                this.currentOperatorSign = this.operatorsSequence[this.currentOperatorLevel];
                this.randomOperands();
                // this.currentOperatorLevel = 1;
            },

            currentOperatorImage() {
                // let selectedOperator = this.operators.find(element => element.sign === "+")
                let selectedOperator = this.operators.find(element => element.sign === this.currentOperatorSign)
                return selectedOperator.image;
            }
        },

        watch: {
            currentOperatorSign(value) {
                let selectedOperator = this.operators.find(element => element.sign === value)
                this.currentOperator = selectedOperator;
                this.generateQuestionAndAnswers();
            },
            firstNumber() {
                this.generateAnswers();
            },
            secondNumber() {
                this.generateAnswers();
            }
        },

        computed: {
            question() {
                return `${this.firstNumber} ${this.currentOperatorSign} ${this.secondNumber} = ?`
            },

            bestScore() {
                if (this.currentStreak > this.lastStreak) {
                    return this.currentStreak;
                }

                return this.lastStreak;
            },


        },

        mounted() {
            this.generateQuestionAndAnswers()

        }
    }
</script>

<style scoped>

    .game .card-body {
        padding: 66px 20px;
    }

    .answer:hover {
        color: #97AA0F;
        border: #97AA0F solid 3px;
        background: #fff;
        cursor: pointer;
    }

    .answer:active {
        color: #73810b;
        border: #73810b solid 3px;
        background: #fff;
        cursor: pointer;
    }

    .stat {
        font-weight: bold;
    }

    .blue {
        color: #00A0B0;
    }

    .border-blue {
        border: #00A0B0 solid 3px;
    }

    .red {
        color: #E74C33;
    }

    .yellow {
        color: #97AA0F;
    }

    .border-yellow {
        border: #97AA0F solid 3px;
    }

    .company-name {
        color: #00A0B0;
        font-size: 90px;
        font-family: 'Arial Bold', sans-serif;
    }

    .course-label {
        padding-right: 20px;
        padding-left: 20px;
    }

</style>
