<template>
    <game-play></game-play>
</template>

<script>
    import GamePlay from "./GamePlay";
    export default {
        name: "Main",
        components: {GamePlay}
    }
</script>

<style scoped>

</style>
