<template>
    <div class="card question">
        <!--        <img class="card-img-top"  alt="Card image cap">-->
        <div class="card-body text-center">
            <h2> {{ value }}</h2>
        </div>
    </div>
</template>

<script>


    export default {
        name: "Question",
        props: {
          value: {
              type: String
          },
        },

    }
</script>

<style scoped>
    .card-body{
        padding: 66px 20px;
    }
    
    /*.card-body {*/
    /*    padding: 60px 120px 60px 120px;*/
    /*}*/
</style>
