<template>
<!--  <img alt="Vue logo" src="./assets/logo.png">-->
<!--  <HelloWorld msg="Welcome to Your Vue.js App"/>-->
  <GamePlay></GamePlay>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
import GamePlay from "./components/GamePlay";

export default {
  name: 'App',
  components: {
    // HelloWorld
    GamePlay
  }
}
</script>

<style>
  /*@import "./assets/css/style.css";*/
#app {

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  /*text-align: center;*/
  /*color: #2c3e50;*/
  /*margin-top: 60px;*/
}
</style>
